@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsans.ttf');
}

body {
	font-family: 'PT Sans';
}

.valign-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.valign {
	vertical-align: middle;
	display: block;
}

header {
	background-color: #F1F1F1;
	padding: 10px 0;
	color: #4A4F55;
}

header .title div:first-child {
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
}

header .language {
	margin-top: 10px;
}

header .language a {
	margin: 0 5px;
	color: #4A4F55;
}

header .nav-tabs.nav-justified {
	margin: 15px 0 -20px;
	position: relative;
	z-index: 999;
}

header .nav-tabs.nav-justified li {
	vertical-align: bottom;
}

header .nav-tabs.nav-justified li a {
	border: none;
	box-shadow: 0 0 1px #D5D5D5;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-right: -1px;
	background: -webkit-linear-gradient(#fff, #E5E5E5);
	background: -o-linear-gradient(#fff, #E5E5E5);
	background: -moz-linear-gradient(#fff, #E5E5E5);
	background: linear-gradient(#fff, #E5E5E5);
	color: #717171;
	font-weight: bold;
	padding: 20px 15px;
	border-bottom: 4px solid #4A4F55;
	transition: border 0.3s;
	-moz-transition: border 0.3s;
	-webkit-transition: border 0.3s;
}

header .nav-tabs.nav-justified li a:hover,
header .nav-tabs.nav-justified li.active a:hover,
header .nav-tabs.nav-justified li a:focus,
header .nav-tabs.nav-justified li.active a:focus {
	color: #FF4C00;
	border: none;
	border-bottom: 12px solid #FF4C00;
	background: #fff;
	position: relative;
	z-index: 999;
}

header .nav-tabs.nav-justified li.active a {
	color: #FF4C00;
	border: none;
	border-bottom: 12px solid #FF4C00;
	background: #fff;
	border-right: 1px solid transparent;
	position: relative;
	z-index: 999;
}

#carousel_home .item img {
	width: 100%;
}

#carousel_home .carousel-indicators {
	bottom: inherit !important;
	top: 30px;
}

#carousel_home .carousel-indicators .active {
	width: 15px;
	height: 15px;
}

#carousel_home .carousel-indicators li {
	width: 15px;
	height: 15px;
	border: 2px solid #fff;
}

.red-text {
	color: #FF4C00;
}

section.gray {
	background-color: #3E4146;
	padding: 120px 0;
	color: #fff;
	background-image: url(../img/city.png), url(../img/plane.png);
	background-position: center bottom, 85% 100px;
	background-repeat: no-repeat;
}
section.gray .well {
	background-color: #FF4C00;
	border: none;
	box-shadow: 0 0 0 transparent;
	border-bottom: 6px solid #DD4000;
	color: #B43509;
	font-size: 16px;
	font-weight: 100;
	padding: 15px 50px;
	margin: -175px 0 110px;
}

section.gray .well label {
	font-weight: 100;
	padding: 0 15px;
}

section.gray .well input {
	width: 100%;
	border: none;
	padding: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #EFEFEF;
}

section.gray .well .btn {
	background-color: #3E4146;
	color: #fff;
	width: 100%;
	padding: 140x;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px solid #33363A;
}

ul {
	-webkit-padding-start: 20px;
}

section.black {
	background-color: #1C1C1C;
	padding: 80px 0;
	color: #fff;
}

.services_box {
	margin-top: 50px;
	position: relative;
}

.services_box .service {
	float: left;
	width: 20%;
	text-align: center;
}

.services_box .service .icon {
	border-left: 1px solid #fff; 
	border-right: 1px solid #fff;
	padding: 15px 0;
	margin-bottom: 10px;
}

.services_box .service .icon img {
	max-height: 100px;
}

.services_box .service a {
	display: block;
	color: #FF4C00;
	min-height: 250px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.services_box .service a:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
}

.services_box .service a:focus {
	outline: 0;
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
}

.services_box .service p {
	padding: 10px 20%;
}

.services_box .service:first-child .icon,
.services_box .service:last-child .icon {
	border: none;
}

.services_box .service:nth-child(3) {
	margin: 0 -1px;
}

section.orange {
	background-color: #FF4C00;
	padding: 80px 0;
	color: #fff;
}

section.orange .well {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	box-shadow: 0 0 0 transparent;
	color: #3E4146;
	font-size: 12px;
	margin-bottom: 20px;
}

section.orange .well img {
	width: 100%;
	border: 2px solid #343434;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

section.orange .carousel-indicators li {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 1px 5px;
	text-indent: inherit;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 0;
	font-size: 16px;
}

section.orange .carousel-indicators .active {
	font-weight: bold;
}

section.orange .paginator_box {
	position: absolute;
	bottom: -50px;
	width: 100%;
	text-align: center;
}

section.orange .paginator_box .carousel-indicators {
	bottom: 0 !important;
	top: inherit !important;
	position: relative;
	margin: 0;
	left: inherit;
	width: auto;
	display: inline-block;
}

.triangle {
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	display: inline-block;
	margin: -1px 5px;
}

.triangle.left {
	border-right:12px solid #fff; 
}

.triangle.right {
	border-left: 12px solid #fff;
}

section.links {
	background-color: #33363A;
	padding: 50px 0;
	color: #fff;
}

section.links ul li {
	margin-bottom: 10px;
}

.text-indent {
	text-indent: 30px;
	display: block;
}

section.white {
	background-color: #EFEFEF;
	padding: 50px 0;
	color: #565B5F;
}

section.white input,
section.white textarea {
	background-color: #343434;
	color: #fff;
	padding: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 100%;
	border: none;
	margin-bottom: 20px;
	font-size: 18px;
}

section.white input::-webkit-input-placeholder,
section.white textarea::-webkit-input-placeholder {
	color: #fff;
}

section.white .btn {
	background-color: #FF4C00;
	color: #fff;
	width: 100%;
	padding: 14px;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 3px solid #DD4000;
	margin-bottom: 20px;
}

footer {
	background-color: #343434;
	color: #fff;
	border-top: 5px solid #FF4C00;
	padding: 50px 0;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
	text-decoration: none;
}

section#welcome {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #4A4F55;
	background-color: #EFEFEF;
}

section#welcome a {
	color: #4A4F55;
}

.border_language {
	border-right: 1px solid #686C71;
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
}

.no_margin {
	margin: 0;
}

img {
	max-width: 100%;
}

.service-active {
	background-color: #343434;
	padding: 100px 50px;
	position: relative;
	color: #fff;
}

.service-active button.close {
	background-color: #FF5A20;
	color: #fff;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	font-weight: normal;
	text-shadow: 0 0 0 transparent;
	font-size: 40px;
	line-height: 24px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.service-active button.close:hover,
.service-active button.close:focus {
	opacity: 0.7;
	outline: 0;
}

.service-active .border-right {
	border-right: 1px solid #fff;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}

.service-active .active-icon {
	padding: 50px;
}

.service-active .active-icon img {
	width: 100%;
}

#notibyd .item a {
	position: relative;
	display: block;
}

#notibyd .item a .well {
	position: relative;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

#notibyd .item a .well:hover .hover {
	opacity: 1;
}

#notibyd .item a .well .hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 2;
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

#notibyd .item a .well .hover img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	width: auto;
	border: none;
}

#notibyd .item a:hover, 
#notibyd .item a:focus {
	text-decoration: none;
	outline: 0;
}

.scroll_up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.scroll_up:hover {
	opacity: 0.8;
}

.service-modal.well {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.service-modal.well img {
	width: 100%;
	border: 2px solid #343434;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-bottom: 20px;
}

.service-modal.well button.close {
	background-color: #FF4C00;
	color: #fff;
	text-shadow: 0 0 0 transparent;
	font-weight: normal;
	opacity: 1;
	font-size: 50px;
	line-height: 30px;
	padding: 5px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.service-modal.well button.close:hover {
	opacity: 0.7;
}

.social_link {
	position: relative;
	display: block;
}

.social_link:hover img {
	position: relative;
	opacity: 0;
}

.social_link img.on {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.social_link:hover img.on {
	opacity: 1;
}

/*PACE JS*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff4c00;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ff4c00, 0 0 5px #ff4c00;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #ff4c00;
  border-left-color: #ff4c00;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/*PACE JS*/

@media (min-width: 768px){
	.modal-dialog {
		width: 1170px;
		margin: 30px auto;
	}
}